version
AUTHORS
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
*.rpm
*.tar.gz
noarch/
pkg/firmware-extract.spec
pkg/install-sh
pkg/missing
pkg/py-compile
